<footer>
    <div class="footer-container">
      <div class="language-currency">
        <span>&#127760; English (IN)</span>
        <span>&#8377; INR</span>
      </div>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </div>
      <div class="footer-text">
        <p>&copy; WonerLust</p>
        <p>
          <a href="/Privacy">Privacy</a> &middot;
          <a href="/Terms">Terms</a> &middot;
        </p>
      </div>
    </div>
  </footer>