<% layout("layouts/boilerPlate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="post" class="needs-validation" action="/listings/new" novalidate enctype="multipart/form-data">
        
        
        <div class="mb-3">
            <label for="title" class="form-label"></label>
            <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter the title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"class="form-control" placeholder="Enter Description" required></textarea>
            <div class="invalid-feedback">Please enter the decription</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image url</label>
            <input name="listing[image]" placeholder="Enter image url" class="form-control" type="file">
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label> 
            <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
            <div class="invalid-feedback">Please enter the price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label> 
            <input name="listing[country]" placeholder="Enter country" class="form-control" required>
            <div class="invalid-feedback">Please enter the Country</div>
        </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label> 
            <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter the location</div>
        </div>
        
        <button class="btn btn-dark add-btn" type="submit">Add</button>
        <br>
    </form>
    <br><br>
</div>
</div>
</body>



