<!DOCTYPE html>
<html>
<head>
  <title>OpenStreetMap with Leaflet</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <style>
    #map {
      height: 300px;
      width: 400px;
    }
  </style>
</head>
<body>
  <h1>Map Integration with OpenStreetMap</h1>
  <div id="map"></div>
  <p id="latCo" style="display: none;"><%= lat %></p>
  <p id="lonCo" style="display: none;"><%= lon %></p>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script>
    // Create a map object
    const latCo = document.getElementById("latCo");
    const lonCo = document.getElementById("lonCo");

    
    const map = L.map('map').setView([(Number(latCo.innerText)), (Number(lonCo.innerText))], 13); // Coordinates for London
        
      
        
        // Add OpenStreetMap tiles
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '© OpenStreetMap contributors',
        }).addTo(map);

        // Add a marker
        const marker = L.marker([(Number(latCo.innerText)), (Number(lonCo.innerText))]).addTo(map);
        marker.bindPopup("<b>Hello!</b><br>This is a marker.").openPopup();
  </script>
</body>
</html>
