.navbar-brand{
    width: 5rems !important;
    display: flex;
    color: #FF385C;
}

.navbar{
    height: 5rem !important;
}

.navbar-brand p {
    padding-top: 1rem;
    font-weight: 700;
}

.navbar-brand i{
    padding-top: 1rem;
    font-size: 2.2rem;
    padding-right: 0.2rem;
    /* padding-bottom: 0.9rem; */
}

/* @media(max-width:1050px){
    .navbar-brand p {
        display: none;
    }
    .navbar-brand i{
        padding-bottom: 1rem;
    }
} */

/* @media(max-width:767px){
    .overall-search-btn{
        display: none;
    }
} */

.collapse{
    background-color: #fff;
    
    
    /* opacity: 0.8; */
}

.btn-search i{
      display: inline;
      margin-right: 0.4rem;
    }

    .btn-search{
      background-color: #FF385C;
      color: #fff;
      border-radius: 1.5rem;
    }
    .btn-search:hover{
      background-color: #FF385C;
      color: #fff;
    }

    .btn-input{
      border-radius: 1.5rem;
    }